{% extends 'base.html.twig' %}

{% block title %}Créer une offre d'emploi{% endblock %}

{% block body %}
    <h1>Créer une nouvelle offre d'emploi</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {# Ajoute ici d'autres champs de ton formulaire #}
        
        <button type="submit">Créer l'offre</button>
    {{ form_end(form) }}
{% endblock %}
